/* 
    Document   : question
    Created on : 18 déc. 2012, 16:55:24
    Author     : JYP
    Description:
        Purpose of the stylesheet follows.
*/

#uneQuestion
{
    border-style: solid;
    border-width : 1px;
    border-color: #DDD;
}




