<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Restriction</filter-name>
        <filter-class>filters.Restriction</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Restriction</filter-name>
        <url-pattern>/restricted/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>servlets.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Membre2</servlet-name>
        <servlet-class>servlets.Membre2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>servlets.QuestionServlet</servlet-class>
        <init-param>
            <param-name>chemin</param-name>
            <param-value>/var/webapp/img/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SequenceServlet</servlet-name>
        <servlet-class>servlets.SequenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServletTopic</servlet-name>
        <servlet-class>servlets.UserServletTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiverServletTopic</servlet-name>
        <servlet-class>servlets.ReceiverServletTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resultats</servlet-name>
        <servlet-class>servlets.Resultats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionQuestion</servlet-name>
        <servlet-class>servlets.ReceptionQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequenceJeuDirige</servlet-name>
        <servlet-class>servlets.SequenceJeuDirige</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequenceJeuLibre</servlet-name>
        <servlet-class>servlets.SequenceJeuLibre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemeServlet</servlet-name>
        <servlet-class>servlets.ThemeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveHelpStatus</servlet-name>
        <servlet-class>servlets.SaveHelpStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Membre2</servlet-name>
        <url-pattern>/membre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequenceServlet</servlet-name>
        <url-pattern>/sequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServletTopic</servlet-name>
        <url-pattern>/UserServletTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiverServletTopic</servlet-name>
        <url-pattern>/ReceiverServletTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultats</servlet-name>
        <url-pattern>/Resultats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionQuestion</servlet-name>
        <url-pattern>/ReceptionQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequenceJeuDirige</servlet-name>
        <url-pattern>/SequenceJeuDirige</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequenceJeuLibre</servlet-name>
        <url-pattern>/SequenceJeuLibre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeServlet</servlet-name>
        <url-pattern>/theme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveHelpStatus</servlet-name>
        <url-pattern>/SaveHelpStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
